.idea/
*.iml
*.ipr
*.iws
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
local.properties
*.log
captures/
output.json
*.apk
*.ap_
*.class
*.kt~ 
*.pb
.DS_Store
Thumbs.db
.navigation/
.cxx/
node_modules/
npm-debug.log
yarn-error.log
*.swp
*.swo
*.bak
*.tmp
*.orig
*.jks
*.keystore
key.properties
crashlytics-build.properties
fabric.properties
*.env
.env.*
